.jobExperience {
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 16px;
}

.companyName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.workingPeriod,
.country,
.description {
  margin-bottom: 8px;
}

.keySkills {
  list-style: none;
  padding: 0;
}
