.jobExperience {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 16px;
}

.position {
  font-size: 18px;
  margin: 0 0 5px;
}

.companyName {
  display: inline-block;
  font-size: 16px;
  margin: 0;
}

.workingPeriod,
.country {
  display: inline-block;
  margin-left: 3px;
}

.country {
  margin-bottom: 8px;
}

.descriptionText {

}

.keySkills {
  list-style: none;
  padding: 0;

  li {
    font-size: 12px;
    display: inline-block;
    padding: 3px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin: 4px 2px;
  }
}
