.layout {

}

.section {
  width: 100%;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.article {
  flex: 4;
  &:first-child {
    flex: 1;
  }
}