.summary {
  color: var(--text-color-1);

  svg {
    display: block;
    margin: 64px auto;
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
}

.name {
  display: block;
  font-size: 20px;
  font-weight: bold;
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.title {
  display: block;
  margin: 40px 0 12px;
  color: var(--text-color-4);
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
}