.name {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color-1);
  letter-spacing: -0.02em;
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.title {
  display: block;
  margin: 40px 0 12px;
  color: var(--text-color-1);
  letter-spacing: -0.01em;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.summary {
  color: var(--text-color-2);
  letter-spacing: -0.02em;
}

.pfa {
  display: block;
  svg {
    display: block;
    margin: 64px auto;
    max-width: 300px;
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
}

.text {
  text-align: center;
}