@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");


html, body {
  margin: 0;
  background-color: var(--background-color);
}
.animated {
  transition: color ease var(--theme-animation-time), background-color ease var(--theme-animation-time);
}

:root {
  --theme-animation-time: .3s;

  --background-light: #FFF;
  --background-dark: #0E1117;

  --text-pure-white: #fff;
  --text-pure-black: #000;

  --text-light-1: #24292F;
  --text-light-2: #57606A;
  --text-light-3: #24292F;
  --text-light-4: rgba(87, 96, 106, 0.8);
  --text-dark-1: #FFFFFF;
  --text-dark-2: #8B949E;
  --text-dark-3: #E9E9E9;
  --text-dark-4: #8B949E;

  --text-color-link: #2f81f7;

  --progress-light: #57606A99;
  --progress-dark: #838386;
  --progressbar-light: #57606A33;
  --progressbar-dark: #41434B;

  --border-light-1: #21262D;
  --border-light-2: #24292F;
  --border-dark-1: #21262D;
  --border-dark-2: rgba(255, 255, 255, 0.2);

  --email-background-light: #206FEB;
  --email-background-dark: #206FEB;
  --email-text-light: #fff;
  --email-text-dark: #fff;
  --phone-text-light: #206FEB;
  --phone-text-dark: #8B949E;
}

body[data-theme='light'] {
  --background-color: var(--background-light);

  --text-color-pure: var(--text-pure-black);
  --text-color-1: var(--text-light-1);
  --text-color-2: var(--text-light-2);
  --text-color-3: var(--text-light-3);

  --border-color-1: var(--border-light-1);
  --border-color-2: var(--border-light-2);

  --progress-color: var(--progress-light);
  --progressbar-color: var(--progressbar-light);

  --email-background: var(--email-background-light);
  --email-text: var(--email-text-light);
  --phone-text: var(--phone-text-light);
}

body[data-theme='dark'] {
  --background-color: var(--background-dark);

  --text-color-pure: var(--text-pure-white);
  --text-color-1: var(--text-dark-1);
  --text-color-2: var(--text-dark-2);
  --text-color-3: var(--text-dark-3);

  --border-color-1: var(--border-dark-1);
  --border-color-2: var(--border-dark-2);

  --progress-color: var(--progress-dark);
  --progressbar-color: var(--progressbar-dark);

  --email-background: var(--email-background-dark);
  --email-text: var(--email-text-dark);
  --phone-text: var(--phone-text-dark);
}