.contacts {
  margin-top: 15px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.contact {
  display: inline-flex;
  width: 30px;
  height: 30px;
  background: no-repeat;
  background-size: cover;
  svg {
    width: 100%;
    height: 100%;
    fill: var(--text-color);
  }
}
